/* Remova ou comente este bloco do seu arquivo CSS */

/*
.slick-track {
  display: flex !important;
  flex-direction: row;
  align-items: stretch;
}

.slick-slide {
  height: auto;
}

.slick-slide > div {
  height: 100%;
}

.slick-slide .flex.flex-col {
  height: 100%;
}
*/
